In [8]:
import pandas as pd
import numpy as np
import  seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [23]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [9]:
df =sns.load_dataset("titanic")

In [10]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
df = df[["age","fare","survived"]]

In [12]:
df.head()

    age     fare  survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [13]:
df.dropna(inplace=True)

In [15]:
df.head()

    age     fare  survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [19]:
kbin_age = KBinsDiscretizer(n_bins=5, strategy="kmeans", encode="ordinal")
kbin_fare = KBinsDiscretizer(n_bins=5, strategy="kmeans", encode="ordinal")

In [27]:
trf = ColumnTransformer(transformers=[
    ("age", kbin_age, df[['age']]),
    ("fare", kbin_fare, df[['fare']])
])

In [28]:
kbin_age.fit_transform(df[['age']])

array([[1.],
       [2.],
       [1.],
       [2.],
       [2.],
       [3.],
       [0.],
       [1.],
       [1.],
       [0.],
       [4.],
       [1.],
       [2.],
       [1.],
       [4.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [0.],
       [2.],
       [1.],
       [3.],
       [4.],
       [2.],
       [3.],
       [1.],
       [1.],
       [1.],
       [3.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [3.],
       [2.],
       [4.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [3.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [3.],
       [1.],
       [4.],
       [4.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [3.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [4.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [2.],
       [3.],
       [0.],
       [1.],
       [3.],
       [2.],
       [1.],
       [3.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [2.],
       [3.],
       [3.],
       [1.],
       [4.],
       [3.],
       [3.],
       [1.],
       [2.],
       [3.],
       [3.],
       [1.],
       [1.],
       [0.],
       [0.],
       [3.],
       [2.],
       [4.],
       [0.],
       [0.],
       [1.],
       [4.],
       [1.],
       [3.],
       [2.],
       [2.],
       [0.],
       [0.],
       [0.],
       [3.],
       [3.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [3.],
       [4.],
       [3.],
       [1.],
       [2.],
       [2.],
       [3.],
       [1.],
       [0.],
       [2.],
       [1.],
       [1.],
       [3.],
       [1.],
       [2.],
       [1.],
       [2.],
       [2.],
       [1.],
       [3.],
       [2.],
       [2.],
       [1.],
       [1.],
       [3.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [2.],
       [4.],
       [0.],
       [1.],
       [3.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [3.],
       [1.],
       [1.],
       [2.],
       [3.],
       [2.],
       [4.],
       [2.],
       [3.],
       [2.],
       [2.],
       [2.],
       [3.],
       [0.],
       [3.],
       [3.],
       [2.],
       [1.],
       [1.],
       [4.],
       [2.],
       [1.],
       [3.],
       [2.],
       [4.],
       [3.],
       [0.],
       [2.],
       [4.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [3.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [3.],
       [1.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [1.],
       [1.],
       [3.],
       [2.],
       [3.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [4.],
       [2.],
       [2.],
       [1.],
       [3.],
       [2.],
       [1.],
       [2.],
       [3.],
       [3.],
       [3.],
       [0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [3.],
       [0.],
       [3.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [3.],
       [2.],
       [3.],
       [2.],
       [2.],
       [4.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [3.],
       [0.],
       [2.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [1.],
       [2.],
       [2.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [2.],
       [3.],
       [1.],
       [3.],
       [1.],
       [1.],
       [1.],
       [4.],
       [2.],
       [3.],
       [1.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [0.],
       [3.],
       [2.],
       [2.],
       [3.],
       [2.],
       [4.],
       [3.],
       [3.],
       [2.],
       [3.],
       [3.],
       [2.],
       [4.],
       [0.],
       [2.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [0.],
       [0.],
       [3.],
       [4.],
       [1.],
       [2.],
       [4.],
       [2.],
       [0.],
       [1.],
       [4.],
       [4.],
       [1.],
       [3.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [3.],
       [1.],
       [3.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [3.],
       [3.],
       [3.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [3.],
       [2.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [3.],
       [4.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [4.],
       [3.],
       [2.],
       [2.],
       [3.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [4.],
       [3.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [3.],
       [2.],
       [1.],
       [3.],
       [4.],
       [1.],
       [2.],
       [3.],
       [3.],
       [2.],
       [2.],
       [3.],
       [3.],
       [1.],
       [3.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [3.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [1.],
       [3.],
       [1.],
       [1.],
       [1.],
       [4.],
       [4.],
       [1.],
       [1.],
       [4.],
       [3.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [3.],
       [1.],
       [1.],
       [0.],
       [0.],
       [3.],
       [1.],
       [4.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [4.],
       [3.],
       [3.],
       [3.],
       [2.],
       [1.],
       [2.],
       [1.],
       [3.],
       [3.],
       [2.],
       [4.],
       [2.],
       [1.],
       [1.],
       [1.],
       [3.],
       [2.],
       [1.],
       [1.],
       [1.],
       [4.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [4.],
       [3.],
       [3.],
       [3.],
       [3.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [3.],
       [3.],
       [1.],
       [1.],
       [3.],
       [2.],
       [3.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [3.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [2.],
       [3.],
       [2.],
       [2.],
       [1.],
       [1.],
       [2.],
       [4.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [3.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [2.],
       [2.],
       [1.],
       [3.],
       [4.],
       [3.],
       [1.],
       [0.],
       [3.],
       [0.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [3.],
       [1.],
       [1.],
       [2.],
       [3.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [0.],
       [2.],
       [1.],
       [2.],
       [3.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [4.],
       [1.],
       [0.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [2.],
       [2.],
       [1.],
       [3.],
       [2.],
       [2.],
       [0.],
       [4.],
       [0.],
       [1.],
       [3.],
       [1.],
       [3.],
       [3.],
       [1.],
       [3.],
       [1.],
       [3.],
       [1.],
       [3.],
       [1.],
       [2.],
       [0.],
       [1.],
       [3.],
       [2.],
       [3.],
       [2.],
       [1.],
       [1.],
       [1.],
       [4.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.]])